/* Estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif, Arial;
    background-color: #f0f0f0; 
    color: #333;
}


header{
    color:#9E8FB2; 
    margin-top: 5%; 
    text-align: center; 
}

/*Estilo de los datos de contacto*/
.contacto{
    background-color: #82AEB1; 
    height: 30px; 
    font-weight: 600; 
    text-align: center; 
    margin-top: 4%; 
    margin-bottom: 4%; 
}


/*estilo del botón*/
#mensaje{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

#boton {
    padding: 10px 20px;
    background-color: #c8cfc8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/*Que cambie de color al pasar el ratón por encima*/
#boton:hover {
    background-color: #9E8FB2;
}

.centrar{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}


/*Estilo del footer*/
footer {
    margin-bottom: 0px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}